<!doctype html>
<html lang="en" ng-app="telemed">

<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KRPVSQG');</script>
    <!-- End Google Tag Manager -->

    <meta name="Horacio" content="R." />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<meta property="og:title" content="Curacao Health" />-->
    <!--<meta property="og:image" content="https://curacao-telemed-customers.azurewebsites.net/assets/img/telmed-content/TeleDoc-1080x1080.png" />-->
    <!--<meta property="og:url" content="http://health.icuracao.com/" />-->

    <meta property="og:image" content="http://curacao-telemed-customers.azurewebsites.net/assets/img/telmed-content/TeleDoc-1080x1080.png" />
    <meta property="og:image:secure_url" content="https://curacao-telemed-customers.azurewebsites.net/assets/img/telmed-content/TeleDoc-1080x1080.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:alt" content="Talk to a Dr. 24/7 with Hello Alvin by Teladoc" />
    <meta property="og:description" content="Talk to a Dr. 24/7 with Hello Alvin by Teladoc" />



    <!--<meta ng-if="sys.idioma === 'en'" property="og:image" content="https://curacao-telemed-customers.azurewebsites.net/assets/img/telmed-content/TeleDoc-1080x1080.png" />-->
    <meta ng-if="sys.idioma === 'en'" name="description" content="Talk to a Dr. 24/7 with Hello Alvin by Teladoc" />

    <!--<meta ng-if="sys.idioma === 'es'" property="og:image" content="https://curacao-telemed-customers.azurewebsites.net/assets/img/telmed-content/TeleDoc-1080x1080.png" />-->
    <meta ng-if="sys.idioma === 'es'" name="description" content="Habla con un Dr. 24/7 con Hello Alvin de Teledoc" />

    <title ng-if="sys.idioma === 'en'">Curacao - Talk to a Dr. 24/7 with Hello Alvin by Teladoc</title>
    <title ng-if="sys.idioma === 'es'">Curacao - Habla con un Dr. 24/7 con Hello Alvin de Teledoc</title>


    <link rel="icon" href="./assets/img/favicons/favicon.ico">

    <link rel="stylesheet" href="./assets/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="./assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./assets/libs/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="./assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="./assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="./assets/fonts/feather/feather.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="./assets/css/theme.min.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="91">
        
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRPVSQG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div ui-view>
        <div style="padding: 20% 15px;text-align:center;background-color:#8dc253;height:100vh;width:100%;" class="">
            <img src="./assets/img/telemed/logo-eng.png" width="260" />
            <h3 style="color:cornsilk;margin-top:50px">...Loading Curacao Health...</h3>
        </div>

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="./assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="./assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="./assets/libs/list.js/dist/list.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="./assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="./assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="./assets/libs/moment/moment.min.js"></script>
    <script src="./assets/libs/moment/moment-timezone-with-data.min.js"></script>
    <script src="./assets/js/theme.min.js"></script>
    <script src="./assets/js/format.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="./node_modules/card/dist/card.js"></script>

    <!-- Authorize.Net SANDBOX -->
    <!--<script src="https://jstest.authorize.net/v1/Accept.js" charset="utf-8"></script>-->
    <!-- Authorize.Net PRODUCTION -->
    <!--<script src="https://js.authorize.net/v1/Accept.js" charset="utf-8"></script>-->
    <!-- Authorize.Net SANDBOX -->
    <script src="https://jstest.authorize.net/v1/Accept.js" charset="utf-8" ng-if="sys.testMode"></script>

    <!-- Authorize.Net PRODUCTION -->
    <script src="https://js.authorize.net/v1/Accept.js" charset="utf-8" ng-if="!sys.testMode"></script>

    <!-- Paypal -->
    <script src="https://www.paypal.com/sdk/js?client-id=AQE07JPfzeP7AbgW3RnUZFSIQyOJs_auCzBK1b18Av8Ntov-DlmA1t-kx3I0st-HlhcUSxuuNJnSQ7-x"></script>

    <!-- Angular -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./node_modules/angular-card/src/card.js"></script>

    <!-- App -->
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/services.js"></script>
    <script src="./assets/js/languages.js"></script>
    <script src="./assets/js/controllers.js"></script>
    <script src="./assets/js/routes.js"></script>
</body>


</html>