<!doctype html>
<html lang="en" ng-app="telemed">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta ng-if="sys.idioma === 'en'" property="og:image" content="https://icuracao.com/pub/media/wysiwyg/curacao-logo.jpg" />
    <meta ng-if="sys.idioma === 'en'" name="description" content="Talk to a Dr. 24/7 with Hello Alvin by Teladoc" />

    <meta ng-if="sys.idioma === 'es'" property="og:image" content="https://icuracao.com/pub/media/wysiwyg/curacao-logo.jpg" />
    <meta ng-if="sys.idioma === 'es'" name="description" content="Habla con un Dr. 24/7 con Hello Alvin de Teledoc" />

    <title ng-if="sys.idioma === 'en'">Curacao - All the brands you love. Low Easy Payments!</title>
    <title ng-if="sys.idioma === 'es'">TelMED - ¡Habla con un doctor 24/7 en video o por teléfono!</title>


    <link rel="icon" href="./assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="./assets/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="./assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./assets/libs/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="./assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="./assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="./assets/fonts/feather/feather.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="./assets/css/theme.min.css">

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/services.js"></script>
    <script src="./assets/js/languages.js"></script>
    <script src="./assets/js/controllers.js"></script>
    <script src="./assets/js/routes.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="91">
    <div ui-view></div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="./assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="./assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="./assets/libs/list.js/dist/list.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="./assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="./assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="./assets/libs/moment/moment.min.js"></script>
    <script src="./assets/libs/moment/moment-timezone-with-data.min.js"></script>
    <script src="./assets/js/theme.min.js"></script>
    <script src="./assets/js/format.js"></script>

    <!-- Angular -->
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>


    <script>
        function modalFn() {
            var firstPt = document.getElementById("firstPt");
            var secondPt = document.getElementById("secondPt");

            var firstPtStyle = firstPt.style.display;
            var secondPtStyle = secondPt.style.display;

            if (firstPtStyle === "none") {
                firstPt.removeAttribute("style");
                secondPt.setAttribute("style", "display: none;");
            } else {
                secondPt.removeAttribute("style");
                firstPt.setAttribute("style", "display: none;");
            }
        }

        var enterAccount1 = document.getElementById("enterAccount1");
        var enterAccount2 = document.getElementById("enterAccount2");
        var enterAccount3 = document.getElementById("enterAccount3");
        var enterAccount4 = document.getElementById("enterAccount4");
        var telemed1 = document.getElementById("telemed1");
        var telemed2 = document.getElementById("telemed2");
        var telemed3 = document.getElementById("telemed3");

        if (typeof telemed1 != "undefined" && telemed1 != null && enterAccount1 != "undefined" && enterAccount1 && enterAccount2 != "undefined" && enterAccount2 && enterAccount3 != "undefined" && enterAccount3 && enterAccount4 != "undefined" && enterAccount4) {
            telemed1.addEventListener("click", function (e) {
                radioFn();
            });
        }
        if (typeof telemed2 != "undefined" && telemed2 != null && enterAccount1 != "undefined" && enterAccount1 && enterAccount2 != "undefined" && enterAccount2 && enterAccount3 != "undefined" && enterAccount3 && enterAccount4 != "undefined" && enterAccount4) {
            telemed2.addEventListener("click", function (e) {
                radioFn();
            });
        }
        if (typeof telemed3 != "undefined" && telemed3 != null && enterAccount1 != "undefined" && enterAccount1 && enterAccount2 != "undefined" && enterAccount2 && enterAccount3 != "undefined" && enterAccount3 && enterAccount4 != "undefined" && enterAccount4) {
            telemed3.addEventListener("click", function (e) {
                radioFn();
            });
        }

        function radioFn(event) {
            if (typeof telemed1 != "undefined" && telemed1 != null && telemed1.checked === true) {
                enterAccount4.setAttribute("style", "display: block;");

                enterAccount1.setAttribute("style", "display: block;");
                enterAccount2.setAttribute("style", "display: none;");
                enterAccount3.setAttribute("style", "display: none;");
            } else if (typeof telemed2 != "undefined" && telemed2 != null && telemed2.checked === true) {
                enterAccount4.setAttribute("style", "display: block;");

                enterAccount1.setAttribute("style", "display: none;");
                enterAccount3.setAttribute("style", "display: none;");
                enterAccount2.setAttribute("style", "display: block;");
            } else if (typeof telemed3 != "undefined" && telemed3 != null && telemed3.checked === true) {
                enterAccount4.setAttribute("style", "display: block;");

                enterAccount3.setAttribute("style", "display: block;");
                enterAccount1.setAttribute("style", "display: none;");
                enterAccount2.setAttribute("style", "display: none;");
            } else {
                enterAccount4.setAttribute("style", "display: none;");

                enterAccount1.setAttribute("style", "display: none;");
                enterAccount2.setAttribute("style", "display: none;");
                enterAccount3.setAttribute("style", "display: none;");
            }
        }
    </script>


</body>


</html>